*{outline: 0;}
.form-control:focus{box-shadow: none}
/*Navbar CSS*/
.collapse.navbar-collapse{justify-content: flex-end;}
.headerCount{color: rgba(255,255,255,.5);}
/*Carousel CSS*/
.carousel-item img{width: 100%}

/*Inner wrapper*/
.inner-wrapper{padding: 50px 0}

/*Card Css*/
.card{margin-bottom: 1rem;}